[Unit]
Description=Grandfather Clock Chime Daemon
After=network.target sound.target

[Service]
Environment=PYTHONPATH=%h.local/share/pipx/venvs/pip/lib64/python3.13/site-packages
ExecStart=/usr/bin/python3 %h/.local/bin/clockchime.py --quarterly --bi-hourly  --m-tempo 0.7 --s-tempo 3.0 --daemon
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
